{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Web 2 -> Lab Example</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1> Lab Example</h1>   
{{ end }}